*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;

}

body{
    background: #212122;
    color: #EBE6E6;
    overflow: hidden;
    overflow-y: scroll;
}