#intro{
    height: calc(100vw - 5rem);
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: -4rem;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    opacity: 14%;

}

.introContent{
    height: 100vh;
    width: 100vw;
    font-size: 2.6rem;
    display: flex;              
    align-items: center; 
    flex-direction: column;
    margin-top: 8rem;

}

.IntroJRM{
    color: #F0BF03;
    margin-bottom: -2.3rem;
}

.IntroSystem{
    color: #EBE6E6;
}

.introText{
    display: flex;             
    justify-content: center;   
    align-items: center;    
    margin-bottom: 5rem;
    font-size: 2rem;   
}

.Conhecer{
    display: flex;              
    justify-content: center;  
    align-items: center;
    margin-top: -1rem;
    background-color: #F0BF03;
    font-size: 1.1rem;
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 2rem;      
    cursor: pointer;
}

.Conhecer:hover{
    background-color: #EBE6E6;
}