#intro{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    top: -4rem;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    opacity: 14%;

}

.introContent{
    height: 90vh;
    width: 100vw;
    font-size: 2.6rem;
    display: flex;              
    align-items: center; 
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 4rem 0;

}

.IntroJRM{
    color: #F0BF03;
}

.IntroSystem{
    color: #EBE6E6;
}

.introText{
    display: flex;             
    justify-content: center;   
    align-items: center;    
    margin-bottom: 5rem;
    font-size: 2rem;   
}

.Conhecer{
    display: flex;              
    justify-content: center;  
    align-items: center;
    background-color: #F0BF03;
    font-size: 1.1rem;
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 2rem;      
    cursor: pointer;
}

.Conhecer:hover{
    background-color: #EBE6E6;
}

@media (max-width: 768px) {
    .introContent {
        font-size: 2rem;
        margin-top: 6rem;
    }

    .introText {
        font-size: 1.5rem;
        margin: 1rem;
        margin-bottom: 3rem;
    }

    .Conhecer {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

     .bg {
        top: 0;                  /* remove deslocamento no mobile */
        width: auto;             /* deixa a largura se ajustar sozinha */
        min-width: 100vw;        /* garante que cubra horizontalmente */
        height: 100vh;           /* garante que cubra verticalmente */
        object-fit: cover;       /* cobre toda a tela com possível corte lateral */
    }
}


@media (max-width: 480px) {
    .introContent {
        font-size: 1.6rem;
        margin-top: 5rem;
        align-items: center; 
        flex-direction: column;
    }

    .introText {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        justify-content: center;   
        align-items: center; 
        flex-direction: column;
    }

    .Conhecer {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
    .bg {
        top: 0;                  /* remove deslocamento no mobile */
        width: auto;             /* deixa a largura se ajustar sozinha */
        min-width: 100vw;        /* garante que cubra horizontalmente */
        height: 100vh;           /* garante que cubra verticalmente */
        object-fit: cover;       /* cobre toda a tela com possível corte lateral */
        width: 100vw;

    }
}