.contato{
    align-items: center;
    text-align: center;
}
.ContatoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 4rem;
  gap: 4rem;
  flex-wrap: wrap;
}

.ContatoTitle{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #F0BF03;
}

.ContatoSubtitle{
    font-size: 18px;
    max-width: 50%;
    margin-left: 4rem;
    margin-right: 4rem;
}

.atendimentoIndividual{
    display: flex;
    align-items: center; 
}

.atendimento{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 3rem;
    justify-content: center;
}

.AtendimentoImg{
    height: 4.4rem;
    width: 4.4rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.AtendimentoText{
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ContatoInfo{
    text-align: left;
    padding-left: 40px;
    padding-bottom: 1rem;
    font-size: 19px;
    flex: 1;
}

.ContatoInfoTitle{
    padding-left: 40px;
    color: #F0BF03;
    font-size: 26px;

}
.ContactForm{
    margin: 1rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    width: 100%;

}

.name, .email, .msg{
    border-radius: 20px;
    background-color: #f5f5f5;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.SubmitBtn{
    color: #333;
    background-color: #f5f5f5;
    height: 2rem;
    width: 5rem;
    align-self: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.SubmitBtn:hover{
    background-color: #F0BF03;
}


.links{
    align-items: center;
}

.linkFace, .linkInsta{
    height: 3rem;
    width: 3.2rem;
    gap: 1rem;
    margin-right: 1rem;
}

.linkYoutube{
    height: 3rem;
    width: 3.6rem;
}
